* {
  box-sizing: border-box;
}

h1,
label,
textarea,
body {
  margin: 0;
  font-family: "Dela Gothic One", cursive;
  color: rgb(13, 38, 54);
}

body {
  background-image: url(https://i.pinimg.com/originals/b2/3c/ef/b23cef68a8af9fbfb5bd609159678848.jpg);
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

main {
  display: flex;
  justify-content: center;
}

.form {
  position: relative;
  padding: 25px;
  border-radius: 20px;
  background-color: rgba(37, 117, 170, 0.568);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  color: rgb(37, 117, 170);
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  border: none;
  margin: 10px;
  font-family: inherit;
}

.input:not([type="checkbox"]) {
  padding: 5px;
}

.input[type="checkbox"] + .label {
  width: auto;
}

.label-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.emails-box {
  width: 100%;
  display: flex;
}

.check-box {
  width: 100%;
  display: flex;
}

.text-box {
  height: 200px;
  color: rgb(37, 117, 170);
  background-color: whitesmoke;
  padding: 5px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

.submit-container {
  display: flex;
  justify-content: center;
}

.submit-button {
  width: 20%;
  background: whitesmoke;
  color: rgb(37, 117, 170);
  border-radius: 20px;
  padding: 5px;
  border: none;
  font-family: "Dela Gothic One", cursive;
}

.submit-button:hover {
  background-color: rgb(37, 117, 170);
  color: whitesmoke;
}

.off {
  display: none !important;
}
